alias clear=z4h-clear-screen-soft-bottom
{{ if lookPath "git" -}}
alias gd='git diff'
{{ if lookPath "gs" -}}
function gs() {
  if [[ $# -ne 0 ]]; then
    command gs "$@"
  else
    git show
  fi
}
{{ end -}}
alias glo='git log --decorate --oneline --graph'
alias glg='git log --decorate --graph --abbrev-commit --date=relative'
alias gdh='git diff HEAD'
alias gds='git diff --staged'
alias gst='git status'
{{ if lookPath "difft" -}}
alias gdt='GIT_EXTERNAL_DIFF=difft INLINE=y git diff'
alias gss='GIT_EXTERNAL_DIFF=difft INLINE=y git show --ext-diff'
{{ end -}}
if [[ "$EDITOR" = 'nvim' ]]; then
alias vimdiff='nvim -d'
fi
{{ end -}}
{{ if lookPath "exa" -}}
alias tree='exa -Ta'
alias l='exa -F'
alias ll='exa -lF'
alias la='exa -laF'
alias exa="${aliases[exa]:-exa} -I .git --git-ignore --git --color=always --color-scale -s=extension --group-directories-first"
{{ else -}}
alias tree='tree -a -I .git'
alias ls="${aliases[ls]:-ls} -A"
{{ end -}}

{{ if lookPath "fdfind" -}}
alias fd='fdfind'
{{ end -}}

{{ if lookPath "somafm" -}}
alias radio="somafm list | fzf | awk '{print $1}' | xargs somafm play --quality=highest"
{{ end -}}

{{ if lookPath "newsboat" -}}
for i in y t f g d l; do
  filepath="{{ .chezmoi.homeDir }}/.config/newsboat/urls-$i"
  if test -f "$filepath"; then
    eval "alias nb$i='newsboat -u $filepath -c $filepath.db'"
  fi
done
{{ end -}}

{{ if (and (lookPath "faas-cli") (eq .chezmoi.hostname "workstation")) -}}
alias faas="OPENFAAS_TEMPLATE_STORE_URL='https://git.io/J8174' faas-cli"
{{ end -}}

{{ if (and (lookPath "docker") (lookPath "mobynuker")) -}}
function docker() {
  if [[ "$1" == "nuke" ]]; then
    command mobynuker
  else
    command docker "$@"
  fi
}
{{ end -}}

{{ if (and (lookPath "cheat") (lookPath "tldr")) -}}
function cheat() {
  command cheat "$@" || tldr "$1" || curl -fsSL "https://cheat.sh/$1"
}
function tldr() {
  command tldr "$@" || cheat "$1" || curl -fsSL "https://cheat.sh/$1"
}
{{ end -}}

{{ if lookPath "xclip" -}}
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
{{ end -}}

{{- if (eq .chezmoi.osRelease.name "Pop!_OS") -}}
alias upgrade='sudo apt update && sudo apt list --upgradable && sudo apt upgrade && sudo apt autopurge && sudo apt autoclean {{- if lookPath "flatpak" }} && flatpak update && flatpak uninstall --unused {{- end -}}'
{{ end -}}

{{ if lookPath "taskwarrior-tui" -}}
alias t='taskwarrior-tui'
{{ end -}}

{{ if lookPath "jekyll" -}}
function jekyll() {
  if [[ "$1" == "compose" ]]; then
    shift
    command bundle exec jekyll compose --extension adoc "$@"
  else
    command bundle exec jekyll "$@"
  fi
}
{{ end -}}

{{ if lookPath "batman" -}}
alias man=batman
{{ end -}}

{{ if lookPath "wget" -}}
alias wget='wget --hsts-file={{- .chezmoi.homeDir -}}/.local/share/wget-hsts'
{{ end -}}
