{{- if .dependencies.newsboat -}}
#!/bin/bash

url='https://sb.ltn.fi/database/sponsorTimes.csv'
csv='{{ .chezmoi.homeDir }}/.local/share/sponsorblock/timestamps.csv'

base_dir=$(dirname "$csv")
time_now=$(date +'%s')
time_file=$(date -r "$csv" +'%s')
time_since_updated=$(( time_now - time_file ))

if [ -f "$csv" ]; then
  (( time_since_updated > 3600 )) && curl -C - -fsSL -o "$csv" "$url"
else
  mkdir -p "$base_dir" && curl -fsSL -o "$csv" "$url"
fi

rg "^$1" "$csv" | awk -F',' '{print "{\"category\":\""$11"\",\"segment\":["$2","$3"],\"UUID\":\""$7"\"},"""}' | tr -d '\n' | sed 's/^/[/;s/,$/]/'
{{- end }}
