{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Pop!_OS")) -}}
#!/bin/bash

set -e
declare -x TMUX_PLUGIN_MANAGER_PATH="{{ .chezmoi.homeDir }}/.tmux/plugins/"

# tmux plugin manager
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
~/.tmux/plugins/tpm/scripts/install_plugins.sh

# dein vim/neovim plugin manager
curl -s -L https://raw.githubusercontent.com/Shougo/dein.vim/master/bin/installer.sh | sh -s -- ~/.config/nvim/bundles
nvim +'call dein#update()' +qall

# gnome shell extenstions

# improved-workspace-indicator
{{ if .gnome.workspace_indicator }}
glib-compile-schemas {{ .chezmoi.homeDir }}/.local/share/gnome-shell/extensions/improved-workspace-indicator@michaelaquilina.github.io/schemas
{{ end }}

# user-themes
{{ if .prefs.dracula_pro }}
glib-compile-schemas {{ .chezmoi.homeDir }}/.local/share/gnome-shell/extensions/user-theme@gnome-shell-extensions.gcampax.github.com/schemas
{{ end }}

# disable logout prompt
gsettings set org.gnome.SessionManager logout-prompt {{ .gnome.logout_prompt }}
{{ end }}
