{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Pop!_OS")) -}}
#!/bin/sh

set -e

# tmux plugin manager
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
~/.tmux/plugins/tpm/scripts/install_plugins.sh

# dein vim/neovim plugin manager
curl -s -L https://raw.githubusercontent.com/Shougo/dein.vim/master/bin/installer.sh | sh -s -- ~/.config/nvim/bundles
nvim +'call dein#update()' +qall

# compile GSettings schema for improved-workspace-indicator gnome shell extension
{{ if .gnome.workspace_indicator }}
glib-compile-schemas {{ .chezmoi.homeDir }}/.local/share/gnome-shell/extensions/improved-workspace-indicator@michaelaquilina.github.io/schemas
{{ end }}

{{ end }}
