{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Pop!_OS")) -}}
#!/bin/bash

set -e
declare -x TMUX_PLUGIN_MANAGER_PATH="{{ .chezmoi.homeDir }}/.tmux/plugins/"

# tmux plugin manager
if [ ! -d "$TMUX_PLUGIN_MANAGER_PATH/tpm" ]; then
  git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
  ~/.tmux/plugins/tpm/scripts/install_plugins.sh
fi

# dein vim/neovim plugin manager
curl -s -L https://raw.githubusercontent.com/Shougo/dein.vim/master/bin/installer.sh | sh -s -- ~/.config/nvim/bundles
nvim +'call dein#update()' +qall

# gnome shell extenstions

# user-themes
{{ if .prefs.dracula_pro }}
function install_user_themes() {
  gnome-shell-extension-installer 19 --yes --gnome-version 40
  gnome-extensions enable user-theme@gnome-shell-extensions.gcampax.github.com
}

function restart_gnome_shell() {
  dbus-send --session --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:"global.reexec_self();"
}

install_user_themes
gsettings set org.gnome.desktop.interface gtk-theme "dracula"
gsettings set org.gnome.desktop.wm.preferences theme "dracula"
gsettings --schemadir ~/.local/share/gnome-shell/extensions/user-theme@gnome-shell-extensions.gcampax.github.com/schemas set org.gnome.shell.extensions.user-theme name "dracula"
restart_gnome_shell
echo "You might want to change active hint color to #9580FF"
{{ end }}

# disable logout prompt
gsettings set org.gnome.SessionManager logout-prompt {{ .gnome.logout_prompt }}
{{ end }}
