{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Pop!_OS")) -}}
#!/bin/sh

{{ if .prefs.dracula_pro }}
git clone https://github.com/krmbzds/dracula-pro ~/.config/dracula-pro
{{ end }}
{{ if lookPath "batcat" }}
batcat cache --build
{{ end }}

wget -P ~/.fonts/ --no-clobber "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf"
wget -P ~/.fonts/ --no-clobber "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf"
wget -P ~/.fonts/ --no-clobber "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf"
wget -P ~/.fonts/ --no-clobber "https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf"

{{ end }}
