{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Pop!_OS")) -}}
#!/bin/bash

set -e

{{ if .prefs.dracula_pro }}
DRACULA_PRO_FOLDER="{{ .chezmoi.homeDir -}}/.config/dracula-pro"
DRACULA_PRO_URL="https://github.com/krmbzds/dracula-pro"
if [ ! -d "$DRACULA_PRO_FOLDER" ] ; then
    git clone $DRACULA_PRO_URL $DRACULA_PRO_FOLDER
else
    git -C $DRACULA_PRO_FOLDER pull
fi
{{ end }}

{{ if .gnome.dracula }}
DRACULA_FOLDER="{{ .chezmoi.homeDir -}}/.config/dracula"
DRACULA_URL="https://github.com/dracula/dracula-theme"
if [ ! -d "$DRACULA_FOLDER" ] ; then
    git clone $DRACULA_URL $DRACULA_FOLDER
else
    git -C $DRACULA_FOLDER pull
fi
git -C $DRACULA_FOLDER submodule update --init themes/gtk
{{ end }}

{{ if lookPath "batcat" }}
batcat cache --build
{{ end }}

# MesloLGS NF
wget -P ~/.fonts/ -nv -nc 'https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf'
wget -P ~/.fonts/ -nv -nc 'https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf'
wget -P ~/.fonts/ -nv -nc 'https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf'
wget -P ~/.fonts/ -nv -nc 'https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf'

# Source Code Pro
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-Black.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-BlackIt.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-Bold.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-BoldIt.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-ExtraLight.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-ExtraLightIt.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-It.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-Light.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-LightIt.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-Medium.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-MediumIt.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-Regular.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-Semibold.ttf?raw=true'
wget -P ~/.fonts/ -nv -nc --content-disposition --max-redirect=3 'https://github.com/adobe-fonts/source-code-pro/blob/release/TTF/SourceCodePro-SemiboldIt.ttf?raw=true'
{{ end }}
