# Use true color
set -g default-terminal "tmux-256color"
{{- if eq .chezmoi.os "linux" }}
set -ag terminal-overrides ",xterm-256color:RGB"
{{- end }}

# Disable mouse
setw -g mouse off

# Set prefix to C-a
set -g prefix C-a
bind C-a send-prefix
unbind C-b

# Start window and pane numbers from 1
set -g base-index 1
setw -g pane-base-index 1

# Easy to remember split bindings
bind | split-window -h
bind - split-window -v

# Reload config with shortcut
bind r source-file ~/.config/tmux/tmux.conf

# Use vim-style keybindings in copy mode
setw -g mode-keys vi
bind-key -T copy-mode-vi v send -X begin-selection
bind-key -T copy-mode-vi V send -X select-line
bind-key -T copy-mode-vi y send -X copy-pipe-and-cancel 'pbcopy'

# Use vim-style movement keys
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

{{ if .dependencies.whispercpp -}}
# Use whisper.cpp to transcribe speech
bind v run-shell "popup stt | tmux load-buffer - ; tmux paste-buffer"
{{ end -}}

# Use vim-style resize keys
bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5

# Use vim-style shortcut to cycle windows
bind -r C-h select-window -t :-
bind -r C-l select-window -t :+

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-copycat'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'laktak/extrakto'
set -g @plugin 'o0th/tmux-nova'

# Configure tmux-nova
set -g @nova-rows 0
set -g @nova-pane "#I#{?pane_in_mode, #{pane_mode},} #W"
set -g @nova-pane-justify "left"

# Configure extrakto
set -g @extrakto_copy_key "tab"
set -g @extrakto_insert_key "enter"

{{ if .prefs.dracula_pro -}}
set -g "@nova-pane-active-border-style" "#22212C"
set -g "@nova-pane-border-style" "#22212C"
set -g "@nova-status-style-bg" "#2E2B3B"
set -g "@nova-status-style-fg" "#7971A9"
set -g "@nova-status-style-active-bg" "#393649"
set -g "@nova-status-style-active-fg" "#F8F8F2"
{{ end -}}

set -g @nova-segments-0-left "mode"
set -g @nova-segment-mode "#{?client_prefix,#[fg=white]λ,#S}"
{{ if .prefs.dracula_pro -}}
set -g @nova-segment-mode-colors "#7971A9 #2E2B3B"
{{ end -}}

set -g status-right-length 200
set -g @nova-segments-0-right "time"
set -g @nova-segment-time "#({{- .chezmoi.homeDir -}}/bin/utc)"
{{ if .prefs.dracula_pro -}}
set -g @nova-segment-time-colors "#2E2B3B #7971A9"
{{ end -}}

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'git@github.com:user/plugin'
# set -g @plugin 'git@bitbucket.com:user/plugin'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
set-environment -g TMUX_PLUGIN_MANAGER_PATH "~/.local/share/tmux/plugins/"
run '~/.local/share/tmux/plugins/tpm/tpm'
