{{ if .prefs.sublime_text -}}
[
  { "keys": ["h"], "command": "move", "args": {"by": "characters", "forward": false}, "context": [ {"key": "control", "operand": "sidebar_tree"} ] },
  { "keys": ["j"], "command": "move", "args": {"by": "lines", "forward": true}, "context": [ {"key": "control", "operand": "sidebar_tree"} ] },
  { "keys": ["k"], "command": "move", "args": {"by": "lines", "forward": false}, "context": [ {"key": "control", "operand": "sidebar_tree"} ] },
  { "keys": ["l"], "command": "move", "args": {"by": "characters", "forward": true}, "context": [ {"key": "control", "operand": "sidebar_tree"} ] },

  { "keys": ["ctrl+7"], "command": "toggle_comment", "args": { "block": false } },
  { "keys": ["ctrl+shift+7"], "command": "toggle_comment", "args": { "block": true } },

]
{{ end -}}
