{{ if .dependencies.sublime_text -}}
{
  "animation_enabled": false,
  "auto_complete": false,
  "hardware_acceleration": "opengl",
  "auto_complete_commit_on_tab": true,
  {{ if .prefs.dracula_pro }}"color_scheme": "Packages/Dracula Pro/Dracula Pro.tmTheme",{{ end }}
  "copy_with_empty_selection": false,
  "enable_tab_scrolling": false,
  "ensure_newline_at_eof_on_save": true,
  "extra_file_exclude_patterns": [
    "*.pyc",
    "*.pyo",
    "*.exe",
    "*.dll",
    "*.obj",
    "*.o",
    "*.a",
    "*.lib",
    "*.so",
    "*.dylib",
    "*.ncb",
    "*.sdf",
    "*.suo",
    "*.pdb",
    "*.idb",
    ".DS_Store",
    "*.class",
    "*.psd",
    "*.db",
    "*.sublime-workspace"
  ],
  "extra_folder_exclude_patterns": [
    ".svn",
    ".git",
    ".hg",
    "CVS",
    "tmp",
    "node_modules"
  ],
  "find_selected_text": true,
  "font_face": "Source Code Pro Medium",
  "font_size": 14,
  "spell_check": false,
  "ignored_packages": [
    "Six",
    "Vintage",
    "Vintageous",
  ],
  "index_files": true,
  "line_numbers": true,
  "open_files_in_new_window": false,
  "overlay_scroll_bars": "enabled",
  "rulers": [
    79
  ],
  "tab_size": 2,
  "theme": "Adaptive.sublime-theme",
  "translate_tabs_to_spaces": true,
  "trim_trailing_white_space_on_save": true,
  "vintageous_reset_mode_when_switching_tabs": false,
  "vintageous_use_ctrl_keys": null,
  "vintageous_use_super_keys": null,
  "word_wrap": "false",
  "file_exclude_patterns": [
    "*.pyc",
    "*.pyo",
    "*.exe",
    "*.dll",
    "*.obj",
    "*.o",
    "*.a",
    "*.lib",
    "*.so",
    "*.dylib",
    "*.ncb",
    "*.sdf",
    "*.suo",
    "*.pdb",
    "*.idb",
    ".DS_Store",
    "*.class",
    "*.psd",
    "*.db",
    "*.sublime-workspace",
    "*.lock.hcl"
  ],
  "folder_exclude_patterns": [
    ".svn",
    ".git",
    ".hg",
    "CVS",
    "tmp",
    "node_modules",
    ".terraform"
  ],
  "neovintageous_build_version": 11100,
}
{{ end -}}
