amazing_print
asciidoctor
clipboard
debug
debugging
every_day_irb
interactive_editor
irbtools
looksee
ruby-lsp
ruby-lsp-rails
solargraph
solargraph-rails
standard
standard-rails
{{ if .asdf.neovim -}}
neovim
{{ end -}}
