# frozen_string_literal: false

require "cd"
require "clipboard"
require "debugging/howtocall"
require "debugging/q"
require "debugging/re"
require "interactive_editor"
require "looksee"

require "irbtools/configure"

Irbtools.add_library "interactive_editor", thread: :stdlib
Irbtools.add_library "debugging/q", thread: :paint
Irbtools.add_library "debugging/re", thread: :paint
Irbtools.add_library "debugging/howtocall", thread: :paint
Irbtools.add_library "readline", thread: :readline
Irbtools.add_library "os", thread: :os
Irbtools.add_library "ruby_engine", thread: :re
Irbtools.add_library "ruby_version", thread: :rv
Irbtools.welcome_message = ""

def cat(path) = File.read(path)
def cd(path = nil) = Cd.cd(path)
def clear = system("clear")
def copy(str) = Clipboard.copy(str)
def copy_output = copy(context.instance_variable_get(:@eval_history_values).inspect.gsub(/^\d+ (.*)/, '\1'))
def ld(lib) = load lib.to_s + ".rb"
def ll(path = ".") = Cd.cd.ls(path)
def paste = Clipboard.paste
def rq(lib) = Require lib.to_s
def rr(lib) = require_relative lib.to_s
def rrq(lib)
  $".dup.each { |path|
    if %r{/#{lib}\.rb$}.match?(path)
      $".delete path.to_s
      require path.to_s
    end
  }
  require lib.to_s
  true
end
def time
  start = Time.now
  yield
  eta = Time.now - start
  mm, ss = eta.divmod(60)
  hh, mm = mm.divmod(60)
  dd, hh = hh.divmod(24)
  puts "[%s] Took %d days %2d hours %2d minutes %2d seconds." % [Time.now.strftime("%T"), dd, hh, mm, ss]
  eta
end

{{ if (or .prefs.dracula_pro .gnome.dracula) -}}
if Reline.respond_to?(:dialog_default_bg_color)
  Reline.dialog_default_bg_color = :black
  Reline.dialog_default_fg_color = :yellow
  Reline.dialog_highlight_bg_color = :blue
  Reline.dialog_highlight_fg_color = :white
end
{{- end }}

IRB.conf[:INSPECT_MODE] = :inspect
IRB.conf[:SAVE_HISTORY] = 1000
IRB.conf[:USE_AUTOCOMPLETE] = true
IRB.conf[:USE_MULTILINE] = true
IRB.conf[:prompt_mode] = :default

if defined?(IRB::Color)
  clear, bold, green, blue, cyan = "\e[0m", "\e[1m", "\e[32m", "\e[34m", "\e[36m"
  icon =
    case ENV["RAILS_ENV"]
    when "test" then "🧪 "
    when "development" then "🔨 "
    when "staging" then "🍿 "
    when "production" then "🚨 "
    end

  IRB.conf[:PROMPT][:DEFAULT] = {
    PROMPT_I: "#{icon}#{cyan}#{bold}%N#{clear}(#{green}#{bold}%m#{clear})[#{blue}%02n#{clear}:%i]> ",
    PROMPT_N: "#{icon}#{cyan}#{bold}%N#{clear}(#{green}#{bold}%m#{clear})[#{blue}%02n#{clear}:%i]> ",
    PROMPT_S: "#{icon}#{cyan}#{bold}%N#{clear}(#{green}#{bold}%m#{clear})[#{blue}%02n#{clear}:%i]%l ",
    PROMPT_C: "#{icon}#{cyan}#{bold}%N#{clear}(#{green}#{bold}%m#{clear})[#{blue}%02n#{clear}:%i]* ",
    RETURN: "=> %s\n"
  }
end

module IRB
  module InputCompletor
    IGNORE_METHODS_LNN = %w[
      pretty_print pretty_print_cycle pretty_print_inspect
      pretty_print_instance_variables singleton_class itself taint tainted?
      untaint untrust untrusted? trust methods singleton_methods
      protected_methods private_methods public_methods instance_variables
      instance_variable_get instance_variable_set instance_variable_defined?
      remove_instance_variable display public_send public_method
      singleton_method define_singleton_method tap pretty_inspect
    ]

    def self.retrieve_completion_data(input, bind: IRB.conf[:MAIN_CONTEXT].workspace.binding, doc_namespace: false)
      case input
      when /^((["'`]).*\2)\.([^.]*)$/
        # String
        receiver = $1
        message = $3

        candidates = String.instance_methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
        if doc_namespace
          "String.#{message}"
        else
          select_message(receiver, message, candidates)
        end

      when /^(\/[^\/]*\/)\.([^.]*)$/
        # Regexp
        receiver = $1
        message = $2

        candidates = Regexp.instance_methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
        if doc_namespace
          "Regexp.#{message}"
        else
          select_message(receiver, message, candidates)
        end

      when /^([^\]]*\])\.([^.]*)$/
        # Array
        receiver = $1
        message = $2

        candidates = Array.instance_methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
        if doc_namespace
          "Array.#{message}"
        else
          select_message(receiver, message, candidates)
        end

      when /^([^}]*\})\.([^.]*)$/
        # Proc or Hash
        receiver = $1
        message = $2

        proc_candidates = Proc.instance_methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
        hash_candidates = Hash.instance_methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
        if doc_namespace
          ["Proc.#{message}", "Hash.#{message}"]
        else
          select_message(receiver, message, proc_candidates | hash_candidates)
        end

      when /^(:[^:.]+)$/
        # Symbol
        return nil if doc_namespace
        sym = $1
        candidates = Symbol.all_symbols.collect do |s|
          ":" + s.id2name.encode(Encoding.default_external)
        rescue EncodingError
          # ignore
        end
        candidates.grep(/^#{Regexp.quote(sym)}/)

      when /^::([A-Z][^:.()]*)$/
        # Absolute Constant or class methods
        receiver = $1
        candidates = Object.constants.collect { |m| m.to_s }
        if doc_namespace
          candidates.find { |i| i == receiver }
        else
          candidates.grep(/^#{receiver}/).collect { |e| "::" + e }
        end

      when /^([A-Z].*)::([^:.]*)$/
        # Constant or class methods
        receiver = $1
        message = $2
        begin
          candidates = eval("#{receiver}.constants.collect{|m| m.to_s}", bind, __FILE__, __LINE__)
        rescue Exception
          candidates = []
        end
        if doc_namespace
          "#{receiver}::#{message}"
        else
          select_message(receiver, message, candidates, "::")
        end

      when /^(:[^:.)]+)(\.|::)([^.]*)$/
        # Symbol
        receiver = $1
        sep = $2
        message = $3

        candidates = Symbol.instance_methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
        if doc_namespace
          "Symbol.#{message}"
        else
          select_message(receiver, message, candidates, sep)
        end

      when /^(?<num>-?(?:0[dbo])?[0-9_]+(?:\.[0-9_]+)?(?:(?:[eE][+-]?[0-9]+)?i?|r)?)(?<sep>\.|::)(?<mes>[^.]*)$/
        # Numeric
        receiver = $~[:num]
        sep = $~[:sep]
        message = $~[:mes]

        begin
          instance = eval(receiver, bind)
          if doc_namespace
            "#{instance.class.name}.#{message}"
          else
            candidates = instance.methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
            select_message(receiver, message, candidates, sep)
          end
        rescue Exception
          if doc_namespace
            nil
          else
            candidates = []
          end
        end

      when /^(-?0x[0-9a-fA-F_]+)(\.|::)([^.]*)$/
        # Numeric(0xFFFF)
        receiver = $1
        sep = $2
        message = $3

        begin
          instance = eval(receiver, bind)
          if doc_namespace
            "#{instance.class.name}.#{message}"
          else
            candidates = instance.methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
            select_message(receiver, message, candidates, sep)
          end
        rescue Exception
          if doc_namespace
            nil
          else
            candidates = []
          end
        end

      when /^(\$[^.]*)$/
        # global var
        gvar = $1
        all_gvars = global_variables.collect { |m| m.to_s }
        if doc_namespace
          all_gvars.find { |i| i == gvar }
        else
          all_gvars.grep(Regexp.new(Regexp.quote(gvar)))
        end

      when /^([^.:"].*)(\.|::)([^.]*)$/
        # variable.func or func.func
        receiver = $1
        sep = $2
        message = $3

        gv = eval("global_variables", bind, __FILE__, __LINE__).collect { |m| m.to_s }.push("true", "false", "nil")
        lv = eval("local_variables", bind, __FILE__, __LINE__).collect { |m| m.to_s }
        iv = eval("instance_variables", bind, __FILE__, __LINE__).collect { |m| m.to_s }
        cv = eval("self.class.constants", bind, __FILE__, __LINE__).collect { |m| m.to_s }

        if (gv | lv | iv | cv).include?(receiver) || /^[A-Z]/ =~ receiver && /\./ !~ receiver
          # foo.func and foo is var. OR
          # foo::func and foo is var. OR
          # foo::Const and foo is var. OR
          # Foo::Bar.func
          begin
            candidates = []
            rec = eval(receiver, bind)
            candidates = if (sep == "::") && rec.is_a?(Module)
              rec.constants.collect { |m| m.to_s }
            else
              rec.methods.collect { |m| m.to_s } - IGNORE_METHODS_LNN
            end
          rescue Exception
            candidates = []
          end
        else
          # func1.func2
          candidates = []
          # to_ignore = ignored_modules
          # ObjectSpace.each_object(Module){|m|
          #   next if (to_ignore.include?(m) rescue true)
          #   candidates.concat m.instance_methods(false).collect{|x| x.to_s}
          # }
          # candidates.sort!
          # candidates.uniq!
        end
        if doc_namespace
          rec_class = rec.is_a?(Module) ? rec : rec.class
          "#{rec_class.name}#{sep}#{candidates.find { |i| i == message }}"
        else
          select_message(receiver, message, candidates, sep)
        end

      when /^[^:.]*$/
        if doc_namespace
          vars = eval("local_variables | instance_variables", bind, __FILE__, __LINE__).collect { |m| m.to_s }
          perfect_match_var = vars.find { |m| m.to_s == input }
          if perfect_match_var
            eval("#{perfect_match_var}.class.name", bind, __FILE__, __LINE__)
          else
            candidates = eval("methods | private_methods | local_variables | instance_variables | self.class.constants", bind, __FILE__, __LINE__).collect { |m| m.to_s } - IGNORE_METHODS_LNN
            candidates |= ReservedWords
            candidates.find { |i| i == input }
          end
        else
          candidates = eval("methods | private_methods | local_variables | instance_variables | self.class.constants", bind, __FILE__, __LINE__).collect { |m| m.to_s } - IGNORE_METHODS_LNN
          candidates |= ReservedWords
          candidates.grep(/^#{Regexp.quote(input)}/)
        end
      else
        []
      end
    end
  end
end

autoload :Base64, "base64"
autoload :CGI, "cgi"
autoload :CSV, "csv"
autoload :Digest, "digest"
autoload :ERB, "erb"
autoload :FileUtils, "fileutils"
autoload :JSON, "json"
autoload :Pathname, "pathname"
autoload :Psych, "psych"
autoload :Ripper, "ripper"
autoload :SecureRandom, "securerandom"
autoload :Shellwords, "shellwords"
autoload :StringIO, "stringio"
autoload :URI, "uri/generic" # `autoload :URI, 'uri'` breaks Rails
autoload :YAML, "yaml"
autoload :Zlib, "zlib"

unless defined?(IRB::METHOD_AUTOLOAD)
  IRB::METHOD_AUTOLOAD = Hash.new({
    to_json: "json",
    to_yaml: "yaml"
  }).merge({
    Time => {parse: "time"}
  })
end

Kernel.module_eval do
  def method_missing(name, *args, &block)
    if lib = IRB::METHOD_AUTOLOAD[self][name]
      require lib
      return public_send(name, *args, &block)
    end
    super
  end
end

