[init]
	defaultBranch = master
[user]
	name = {{ .git.user.name }}
	email = {{ .git.user.email }}
	signingKey = {{ .git.user.signing_key }}
[core]
	editor = {{ if (eq .prefs.editor "subl") }}subl -n -w{{ else }}{{ .prefs.editor }}{{ end }}
	pager = delta
	excludesfile = ~/.config/git/ignore
	autocrlf = input
	commentChar = ";"
[color]
	ui = true
[commit]
	gpgsign = {{ .git.commit.gpgsign }}
[delta]
	line-numbers = true
	{{ if .prefs.dracula_pro -}}
	syntax-theme = Dracula Pro
	{{ end -}}
	side-by-side = false
[interactive]
	diffFilter = delta --color-only
[alias]
	a = "!git status --short | fzf -m | awk '{print $2}' | xargs git add"
	b = "!git branch -q -a --color=always | sed -e 's/^..//' -e '/->/d' | fzf --ansi --preview-window right:75% --preview 'git log -n $(( $( tput lines ) - 3 )) --color=always --pretty=reference {}' | xargs git switch"
	ctop = !git log | grep Author | sort | uniq -c | sort -rn
	ltop = !git ls-files | xargs -n1 git blame --line-porcelain HEAD | grep '^author ' | sort | uniq -c | sort -nr
	find = "!f() { git log --pretty=format:\"%h %cd [%cn] %s%d\" --date=relative -S'pretty' -S\"$@\" | fzf -m | awk '{print $1}' | xargs -I {} git diff {}^ {}; }; f"
	l = log --topo-order --first-parent --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	la = log --all --topo-order --first-parent --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	w = whatchanged
[rerere]
	enabled = true
	autoupdate = true
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Pop!_OS")) }}
{{ if .dependencies.meld }}
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	prompt = false
[mergetool "meld"]
	# cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
{{ end }}
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
{{ end }}
[log]
	date = iso
