{{ if eq .chezmoi.hostname "workstation" -}}
vo=gpu
profile=gpu-hq
{{ end -}}
save-position-on-quit=yes
cache=yes
cache-secs=300
demuxer-max-bytes=800M
demuxer-max-back-bytes=200M
volume=100

# Custom Profiles
# ╔══════╦══════╦═══════╦═══════╦═══════╦═══════╗
# ║ 480p ║ 720p ║ 1080p ║ 1440p ║ 2160p ║ 4320p ║
# ╠══════╩══════╩═══════╩═══════╩═══════╩═══════╬════════╗
# ║ V30    L30     M30     H30     U30     S30  ║ 30 FPS ║
# ╠═════════════════════════════════════════════╬════════╣
# ║ V60    L60     M60     H60     U60     S60  ║ 60 FPS ║
# ╚═════════════════════════════════════════════╩════════╝
[V30]
ytdl-format=bestvideo[height<=?480][fps<=?30][vcodec!=?vp9]+bestaudio/best
[V60]
ytdl-format=bestvideo[height<=?480][fps<=?60]+bestaudio/best
[L30]
ytdl-format=bestvideo[height<=?720][fps<=?30][vcodec!=?vp9]+bestaudio/best
[L60]
ytdl-format=bestvideo[height<=?720][fps<=?60]+bestaudio/best
[M30]
ytdl-format=bestvideo[height<=?1080][fps<=?30][vcodec!=?vp9]+bestaudio/best
[M60]
ytdl-format=bestvideo[height<=?1080][fps<=?60]+bestaudio/best
[H30]
ytdl-format=bestvideo[height<=?1440][fps<=?30][vcodec!=?vp9]+bestaudio/best
[H60]
ytdl-format=bestvideo[height<=?1440][fps<=?60]+bestaudio/best
[U30]
ytdl-format=bestvideo[height<=?2160][fps<=?30][vcodec!=?vp9]+bestaudio/best
[U60]
ytdl-format=bestvideo[height<=?2160][fps<=?60]+bestaudio/best
[S30]
ytdl-format=bestvideo[height<=?4320][fps<=?30][vcodec!=?vp9]+bestaudio/best
[S60]
ytdl-format=bestvideo[height<=?4320][fps<=?60]+bestaudio/best

# Device Profiles
[DESKTOP]
ytdl-format=bestvideo[height<=?1440][fps<=?60]+bestaudio/best
vo=gpu
profile=gpu-hq
# af-add='dynaudnorm=g=5:f=250:r=0.9:p=0.5'
# ytdl-raw-options=verbose=
# msg-level=all=debug,osc=error,osd/libass=error,vo/opengl=error,input=error
speed=1.33

# File Type Profiles
[extension.gif]
cache=no
no-pause
loop-file=yes
[extension.webm]
no-pause
loop-file=yes

osd-scale=1
osd-font-size=55
