{{- if (and .skyloong.gk61x.enabled .skyloong.gk61x.remap_caps_lock) -}}
TIMING:
  TAP_MILLISEC: 200
  DOUBLE_TAP_MILLISEC: 150

MAPPINGS:
  - KEY: KEY_CAPSLOCK
    TAP: KEY_ESC
    HOLD: KEY_LEFTCTRL
{{- end }}
