[user]
  name = Kerem Bozdas
  email = krmbzds.github@gmail.com
  signingKey = 38FD2B3F677F9C34
[core]
  editor = nvim
  pager = delta
  excludesfile = ~/.gitignore_global
  autocrlf = input
  commentChar = ";"
[color]
  ui = true
[commit]
  cleanup = whitespace
  gpgsign = true
[credential]
  helper = osxkeychain
[delta]
  line-numbers = true
  syntax-theme = Solarized (light)
  side-by-side = true
[interactive]
  diffFilter = delta --color-only
