{{ if .dependencies.brave_browser -}}
[Desktop Entry]
Version=1.0
Name=Brave Web Browser
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/brave-browser-stable {{ if .prefs.browser_hw_accel }}--use-gl=desktop --enable-features=VaapiVideoDecoder --enable-accelerated-video-decode --enable-gpu-rasterization --enable-vulkan --enable-webassembly-simd --enable-webassembly-threads --enable-zero-copy --extension-mime-request-handling --ignore-gpu-blocklist{{ end }} %U
StartupNotify=true
Terminal=false
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/brave-browser-stable

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/brave-browser-stable --incognito
{{ end -}}
